:root {
    --primary-color: #3e2723;
    --secondary-color: #dd6a41;
    --accent-color: #ffdab9;
    --natural-brown: #7e5835;
    background-color: var(--primary-color);

}


/* main sections */
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Work Sans", sans-serif;

    
}

nav {
    text-align: right;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    padding: 5%;
    min-height: 100%;
    max-height: min-content;
    display: block;

}

section h1 {
    font-family: "Work Sans", sans-serif;
    color: var(--secondary-color);
    font-weight: 300;
    font-size: 5rem;

}

li {
    list-style-type: none;
}
/* Hero */
.hero
 {
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    align-items: center;
}

.hero__body {

}

.skill_carousel {
    position: relative;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__name {
    font-weight: 400;
    margin-bottom: -2%;
}

.intro__title {
    color: var(--accent-color); 
    font-size: 2rem;
    font-weight: 300;
}

.skill-carousel__subtext {
    font-size: 1.5rem;
    color: var(--secondary-color)
}

/* Spinning carousel */

@keyframes rotate {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    20%,
    80% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    100% {
        opacity: 0;
        transform: translate3d(0, -25px, 0);        
    }
}

@keyframes rotate-last {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.spinning {
    opacity: 0;
    margin-bottom: 0;
    position: absolute;
    font-size: 2em;
    color: var(--accent-color)
}
.spinning:after {
    opacity: 1;
}

.spinning:nth-of-type(1) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
}

.spinning:nth-of-type(2) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: 1.75s;
}

.spinning:nth-of-type(3) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: 3.25s;
}

.spinning:nth-of-type(4) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: 4.75s;
}

.spinning:nth-of-type(5) {
    animation-name: rotate-last;
    animation-duration: 1.5s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}


/* Skills */

.skills__title {
    text-align: center;
    font-weight: 400;
    font-size: 6rem;

}

.skill-list__title {
    font-size: clamp(1rem, 1rem + 5vw, 3rem);
    font-family: "Work sans", sans-serif;
    font-weight: 400;
    color: var(--secondary-color)

}

.skill-list__skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
}

.skills {
    background-color: var(--accent-color);
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.skills__body {
    margin: 2% 5%;
    
}
.skill-list__skill {
    box-shadow: var(--natural-brown) 1rem 1rem;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    font-weight: 500;
    padding: 1em;
    font-size: 1.5rem;
    margin: 1em;

}

.skill-list__skill:hover {
    transform: scale(1.1)
}
/* Projects */
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.projects__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20%;
}
.project-card {
    padding: 2%;
    background-color: var(--accent-color);
    max-width: 40%;
    max-height: min-content;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    text-align: center;
    box-shadow: var(--natural-brown) 1rem 1rem;
    margin-bottom: 10%;

}

.project-card:hover {
    transform: scale(1.1)
}

.project-card__title {
    font-size: 3em;
    font-weight: 400;
}

.project-card__description {
    font-size: 2rem;
}

.project-card__tags {
    display: grid;
    grid: auto-flow / 50% 50%;
    padding: 0;
    gap: 10%;
}


/* About */

.about {
    background-color: var(--accent-color);
    
}


.about__body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about__title {
    text-align: center;
    font-weight: 400;
}

.about__image {
    border-radius: 20%;
}

.about-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
}


.about-text__description {
    font-size: 2rem;
    font-weight: 300;
}

.about-text__header {
    font-size: 3rem;
    font-weight: 400;
}

footer {
    background-color: var(--primary-color);
}

.contact__header {
    color: var(--secondary-color);
    font-weight: 300;
    font-size: 3rem;
}

.contact__body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.contact-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    font-size: 2rem;
    color: var(--accent-color)
}