:root {
    --primary-color: #3e2723;
    --secondary-color: #dd6a41;
    --accent-color: #ffdab9;
    --natural-brown: #7e5835;
    background-color: var(--primary-color);

}


/* main sections */
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Work Sans", sans-serif;

    
}

nav {
    text-align: right;
    display: flex;
    flex-direction: column;
}

section {
    height: 100%;
    width: 100%;
    /* gap: 1vh; */
        margin: 0;
    padding: 0;


}

h1 {
    font-family: "Work Sans", sans-serif;
    color: var(--secondary-color);
    font-weight: 300;
    font-size: 5rem;

}

li {
    list-style-type: none;
}


/* Hero */
section.business-card {
    background-color: var(--primary-color);
    width: 100%;

}

/* Skills */

.skills__title {
    text-align: center;
    font-weight: 400;
    font-size: 6rem;

}

.skill-list__title {
    font-size: clamp(1rem, 1rem + 5vw, 3rem);
    font-family: "Work sans", sans-serif;
    font-weight: 400;
    color: var(--secondary-color)

}

.skill-list__skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
}

.skills {
    background-color: var(--accent-color);
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.skills__body {
    margin: 1rem;
}
.skill-list__skill {
    box-shadow: var(--natural-brown) 1rem 1rem;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    font-weight: 500;
    padding: 1em;
    font-size: 1.5rem;
    margin: 1em;

}
/* Projects */
/* About */